$BG: #19202a;

//header
@mixin headerBtn {
    background: #1f385c;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 2px 8px 0 #00000049;
    padding: 0 14px 2px;

    &:hover,&:active,&.active {
        background: #17478d;
        color: #feb300;
    }
}

//leftNAV
@mixin leftNAV_outter {
    background: #3d5261;
    color: #feb300;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    &:hover,&:active,&.active {
        background: #feb300;
        color: #19202a;
    }
}
@mixin leftNAV_inner {
    background: #2e3f57;
    color: #ffcf51;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 20px 0 30px;

    &:hover,&:active,&.active {
        background: #ffcf51;
        color: #242424;
    }
}
@mixin leftNAV_Live {
    display: none;
    background: linear-gradient(to left, #0d8c31 0%, #12bb26 100%);
    border-radius: 3px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 0 4px 2px;

    &.display {
        display: flex;
    }
}

//center
@mixin timeSelect_Arrow {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 13px 10px 0px;
    border-color: transparent #cacaca;
    transform-origin: 10px 32px;
    cursor: pointer;
}
@mixin timeSelect_time {
    background: #19202a;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #feb300;
    font-size: 16px;
    font-weight: bold;
    padding: 4px 0 5px;
}
@mixin topfix_SelectStyle_1 {
    background: #1f385c;
    border: solid 1px #feb300;
    box-shadow: 0 2px 3px 0 #00000049;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 4px 10px 5px;
}
@mixin topfix_SelectStyle_2 {
    background: linear-gradient(to top, #ffffff 5%, #ebf0f2 26%, #ffffff 82%);
    border: solid 1px #feb300;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 4px 5px 5px;
}
@mixin topfix_reweb_arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #19202a transparent;
}
@mixin topfix_rightList_arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #feb300 transparent;
}
@mixin topfix_innerPage_arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 8px 7px 0;
    border-color: transparent #19202a;
}
$selectStyle_BG: #1f385c;

@mixin chleague {
    display: none;
    background: #50606d;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 3px 8px 0 #00000066;
    padding-bottom: 20px;

    &.display {
        display: block;
    }
}

$center_table_Color_half: #0b7800;
$center_table_linkColor: #15ae56;

$center_onTimeBG_soccer: #3361d6;
$center_onTimeBG_basketball: #d37245;

@mixin tableBtnStyle_1 {
    background: #313d4f;
    border: none;
    color: #feb300;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover,&:active,&.active {
        background: #feb300;
        color: #212832;
    }
}
$tableBtn_ActiveBG: #5c6d79;
$tableBtn_ActiveColor: #2f3f58;
$tableBtn_disableBG: #2a323d;
$tableBtn_disableColor: #5b6068;

$score_cardIcon_redBG: #d00b15;
$score_cardIcon_yellowBG: #fbc319;

//tech
$tech_midText_BG: #5c6d79;

//rightAREA
@mixin liveList_Arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0px 7px 8px;
    border-color: transparent #2f3c46;
    transition: 0.3s all;
}
@mixin liveList_remindCorner {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
    border-color: #00c613 #00c613 transparent transparent;
    transition: 0.3s all;
    opacity: 0;
}

//innerBet
@mixin innerBtn {
    background: #5c6d79;
    border: none;
    color: #feb300;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,&:active,&.active {
        background: #feb300;
        color: #19202a;
    }
}

//mixpass
@mixin mixpassBtn {
    background: #2e3f57;
    border-radius: 3px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;

    &:hover,&:active,&.active {
        background: #feb300;
    }

    &:disabled {
        background: #5c6d79;
        color: #d2d2d2;
    }
}
$mixpass_ActiveBG: #39547f;

//betRecord
$betRecord_border: #5c6d79;

//jumpWindow
@mixin closeBtn {
    background: #ffffff;
    border-radius: 50%;
    border: solid 3px #19202a;
    box-shadow: 0 0 0 5px #ffffff;
    position: absolute;

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 3px;
        height: 20px;
        background: #19202a;
        left: 50%;
        top: 50%;
    }
    &::before {
        transform: translate(-50%,-50%) rotate(45deg);
    }
    &::after {
        transform: translate(-50%,-50%) rotate(-45deg);
    }
}
$jumpWindow_conversion_tdBG: #f8f8f8;

//mainColor
$mainColor_1: #feb300;
$mainColor_2: #ffffff;
$mainColor_3: #19202a;
$mainColor_4: #465a79;

$subColor_1: #b4bac8;
$subColor_2: #ffcc41;
$subColor_3: #ff7200;

$otherColor_1: #ce1427;
$otherColor_2: #00c613;
$otherColor_3: #9ec2f5;
$otherColor_4: #1e62c5;

//mainBG
$mainBG_1: #3d5261;
$mainBG_2: #212832;
$mainBG_3: #2e3f57;
$mainBG_4: #feb300;
$mainBG_5: #ffffff;

//shadow
$mainShadow_1: #00000049;
$mainShadow_2: #00000080;

//mainBtn
@mixin mainBtn_1 {
    background: #f5f5f5;
    border-radius: 3px;
    border: none;
    color: #1b1b1b;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 2px;

    &:hover,&:active,&.active {
        background: #feb300;
    }

    &:disabled {
        background: #5c6d79;
        color: #d2d2d2;
    }
}
@mixin mainBtn_2 {
    background: linear-gradient(to bottom, #feb300 0%, #c98000 100%);
    border-radius: 5px;
    box-shadow: 0px 2px 3px 0px #00000049;
    border: none;
    color: #212832;
    font-size: 17px;
    font-weight: bold;

    &:hover,&:active,&.active {
        background: #feb300;
        box-shadow: none;
    }
}

//input
@mixin inputStyle_1 {
    background: #ffffff;
    border-radius: 3px;
    border: solid 1px #1f385c;
    color: #19202a;
    font-size: 14px;
    padding-left: 5px;

    &::placeholder {
        color: #19202a;
    }
}

//共用
@mixin cube {
    display: block;
    width: 14px;
    height: 14px;
    border: solid 1px #1f385c;
    border-radius: 3px;
    position: relative;
    cursor: pointer;

    &.active {
        
        &::before {
            content: "";
            position: absolute;
            top: -8px;
            left: 0px;
            width: 18px;
            height: 18px;
        }
    }
}
@mixin cube {
    display: block;
    width: 14px;
    height: 14px;
    background: linear-gradient(to top, #ffffff 34%, #e5e5e5 100%);
    border: solid 1px #d0d0d0;
    border-radius: 3px;
    position: relative;
    cursor: pointer;

    &.active {
        
        &::after {
            content: "";
            position: absolute;
            top: -8px;
            left: 0px;
            width: 18px;
            height: 18px;
        }
    }
}

@mixin scrollBarStyle_1 {
    
    &::-webkit-scrollbar {
        width: 5px;
        height: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #feb300;
        border-radius: 30px;
    }

    &::-webkit-scrollbar-track {
        background: #2e3f57;
        border-radius: 30px;
    }
}
@mixin scrollBarStyle_2 {

    &::-webkit-scrollbar {
        width: 4.5px;
        height: 90%;
    }

    &::-webkit-scrollbar-thumb {
        background: #f1f1f1;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 10px;
    }
}

@mixin textHidden {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@mixin rowBtn {
    background: #212832;
    border-radius: 30px;
    position: relative;
    display: flex;
    cursor: pointer;

    p {
        width: 50%;
        height: 100%;
        color: #cacaca;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: 0.3s all;
        z-index: 1;

        &:first-child {
            color: #19202a;
        }
    }

    .cnt {
        width: 50%;
        height: 100%;
        background: #feb300;
        border-radius: 30px;
        position: absolute;
        left: 0;
        top: 0;
        transition: 0.3s all;
    }

    &.turn {

        p {

            &:first-child {
                color: #cacaca;
            }

            &:nth-of-type(2) {
                color: #19202a;
            }
        }

        .cnt {
            left: 50%;
        }
    }
}