.filter {
    display: none;
    width: 100%;
    height: 100%;
    background: $mainShadow_2;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 100;

    &.display {
        display: flex;
    }

    .jumpWindow {
        display: none;
        width: auto;
        height: auto;
        background: $mainBG_2;
        border-radius: 5px;
        border: solid 1px $mainColor_1;
        position: relative;

        &.display {
            display: block;
        }

        &.conversionWindow {
            width: auto;

            .content {
                width: auto;
                height: auto;
                background: $mainBG_3;
                border-radius: 0 0 3px 3px;
                padding: 30px;

                .calcBox {
                    width: auto;
                    height: auto;
                    background: $mainBG_2;
                    padding: 20px;

                    table {
                        width: auto;
                        height: auto;
                        border: solid 1px $mainColor_3;
                        margin-bottom: 10px;

                        &:last-child {
                            margin: 0;
                        }

                        tr {

                            &:first-child {

                                td {

                                    &:first-child {
                                        width: 65px;
                                        background: $mainBG_4;
                                    }
                                }
                            }

                            td {
                                width: 50px;
                                height: 50px;
                                background: $jumpWindow_conversion_tdBG;
                                border: solid 1px $mainColor_3;
                                vertical-align: middle;

                                p {
                                    color: $mainColor_3;
                                    font-size: 13px;
                                    font-weight: bold;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.controlWindow {
            width: 600px;

            .content {
                width: 100%;
                height: auto;
                padding: 20px;

                .box {
                    width: 100%;
                    height: auto;
                    background: $mainBG_3;
                    border-radius: 5px;
                    margin-bottom: 10px;

                    &:last-child {
                        margin: 0;
                    }

                    .smallTitle {
                        width: 100%;
                        height: 36px;
                        border-bottom: solid 1px $mainColor_2;
                        display: flex;
                        align-items: center;
                        padding: 0 15px;

                        p {
                            color: $mainColor_1;
                            font-size: 14px;
                        }
                    }

                    .innerBox {
                        width: 100%;
                        height: auto;
                        padding: 10px 30px;

                        .rowBox {
                            width: auto;
                            height: auto;
                            display: flex;
                            align-items: center;

                            &>p {
                                color: $mainColor_1;
                                font-size: 14px;
                                margin-right: 20px;
                            }
    
                            .row {
                                width: 120px;
                                height: 35px;
                                @include rowBtn;
                            }
                        }

                        .betBox {
                            width: 100%;
                            height: auto;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            overflow: hidden;

                            p {
                                color: $mainColor_1;
                                font-size: 14px;
                                margin-right: 20px;
                            }

                            input {
                                width: 80px;
                                height: 32px;
                                @include inputStyle_1;
                                margin-right: 5px;

                                &:last-child {
                                    margin: 0;
                                }
                            }
                        }
                    }

                    .versionBox {
                        width: 100%;
                        height: auto;
                        display: flex;
                        align-items: center;
                        padding: 15px 30px;

                        &>p {
                            color: $mainColor_1;
                            font-size: 14px;
                            margin-right: 40px;
                        }

                        div {
                            width: auto;
                            height: auto;

                            p {
                                color: $mainColor_2;
                                font-size: 14px;
                                font-weight: bold;

                                span {
                                    color: $mainColor_1;
                                    font-size: 12px;
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.betWindow,
        &.checkWindow,
        &.checkMixWindow {
            width: 580px;

            .content {
                width: 100%;
                height: auto;
    
                .topWindow {
                    width: 100%;
                    height: auto;

                    &:not(:first-child) {

                        .smallTitle {
                            border-top: solid 1px $mainColor_4;
                        }
                    }
    
                    .smallTitle {
                        width: 100%;
                        height: 28px;
                        border-bottom: solid 1px $mainColor_4;
                        display: flex;
                        align-items: center;
                        padding: 0 10px 2px;
    
                        p {
                            color: $mainColor_1;
                            font-size: 13px;
                        }
                    }

                    .textBox {
                        width: 100%;
                        height: auto;
                        display: flex;

                        .leftSide {
                            width: 45%;
                            height: auto;
                            border-right: solid 1px $mainColor_4;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 0 10px;

                            .team {
                                width: 100%;
                                color: $mainColor_1;
                                font-size: 14px;
                                @include textHidden;
                            }

                            p:not(.team) {
                                color: $otherColor_1;
                                font-size: 14px;
                                flex-shrink: 0;

                                span {
                                    color: $mainColor_2;
                                }
                            }
                        }

                        .rightSide {
                            width: 60%;
                            height: auto;
                            padding: 15px 10px;

                            p {
                                color: $mainColor_1;
                                font-size: 1px;

                                &:last-child {
                                    margin-top: 8px;
                                }

                                span {
                                    color: $mainColor_2;
                                }
                            }
                        }
                    }
                }

                .mixBox {
                    width: 100%;
                    height: auto;
                    max-height: 270px;
                    overflow-y: overlay;
                    @include scrollBarStyle_1;
                }

                .moneyBox {
                    width: 100%;
                    height: auto;
                    display: flex;

                    div {
                        width: 34%;
                        height: auto;
                        background: $mainBG_3;
                        border: solid 1px $mainColor_4;
                        border-left: none;
                        padding: 15px 10px;

                        &:last-child {
                            border-right: none;
                        }

                        p {
                            color: $mainColor_2;
                            font-size: 14px;
                        }
                    }
                }

                .betBox {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: space-between;
                    padding: 15px;

                    .leftSide {
                        width: 49%;
                        height: auto;

                        .inputBox {
                            width: 100%;
                            height: auto;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            position: relative;
                            margin-bottom: 10px;

                            p {
                                color: $mainColor_1;
                                font-size: 14px;
                            }

                            input {
                                width: 160px;
                                height: 35px;
                                @include inputStyle_1;
                            }

                            span {
                                color: $mainColor_3;
                                font-size: 14px;
                                position: absolute;
                                right: 10px;
                            }
                        }

                        .check {
                            width: 100%;
                            height: auto;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;

                            .cube {
                                @include cube;
                                margin-right: 10px;
                            }

                            p {
                                color: $mainColor_1;
                                font-size: 16px;
                            }
                        }
                    }

                    .rightSide {
                        width: 50%;
                        height: auto;
                        display: grid;
                        grid-template-columns: repeat(3,1fr);
                        gap: 8px;

                        button {
                            width: auto;
                            height: 35px;
                            @include mainBtn_1;
                            font-size: 18px;

                            &:last-child {
                                grid-column-start: 1;
                                grid-column-end: 3;
                            }
                        }
                    }
                }

                .checkBox {
                    width: 100%;
                    height: auto;
                    display: flex;
                    padding: 20px 15px;

                    .leftSide {
                        width: 50%;
                        height: auto;
                        border-right: solid 1px $mainColor_4;
                        display: flex;
                        align-items: center;

                        i {
                            width: 20px;
                            height: 20px;
                            background: $otherColor_2;
                            border-radius: 50%;
                            position: relative;
                            margin-right: 10px;

                            &::before {
                                content: "";
                                position: absolute;
                                width: 4px;
                                height: 8px;
                                border: solid 3px $mainColor_2;
                                border-width: 0px 2px 2px 0px;
                                transform: translate(-50%,-50%) rotate(45deg);
                                top: 48%;
                                left: 50%;
                            }
                        }

                        p {
                            color: $otherColor_2;
                            font-size: 16px;
                        }
                    }

                    .rightSide {
                        width: 50%;
                        height: auto;
                        padding: 0 10px;

                        p {
                            color: $mainColor_2;
                            font-size: 13px;
                            font-weight: bold;
                            margin-bottom: 10px;

                            &:last-child {
                                margin: 0;
                            }

                            span {
                                color: $mainColor_1;
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }

        &.changePwWindow {
            width: 390px;

            .content {
                width: 100%;
                padding: 20px 40px;

                .inputBox {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 10px;

                    p {
                        color: $mainColor_1;
                        font-size: 14px;
                    }

                    input {
                        width: 217px;
                        height: 36px;
                        @include inputStyle_1;
                    }
                }
                
                .btnBox {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 30px;

                    button {
                        width: 48%;
                        height: 36px;

                        &:first-child {
                            @include mainBtn_1
                        }

                        &:last-child {
                            @include mainBtn_2;
                        }
                    }
                }
            }
        }

        &.calcWindow {
            width: 715px;
            
            .content {
                width: 100%;
                height: auto;
                padding: 0 30px 30px;

                .inputTitle {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    padding: 10px 0;

                    .inputBox {
                        width: auto;
                        height: auto;
                        display: flex;
                        align-items: center;
                        margin-right: 10px;

                        p {
                            color: $mainColor_2;
                            font-size: 16px;
                            margin-right: 5px;
                        }

                        input {
                            width: 80px;
                            height: 30px;
                            @include inputStyle_1;
                        }
                    }

                    button {
                        width: 60px;
                        height: 28px;
                        @include mainBtn_1;
                        padding: 0;
                    }
                }

                ul {
                    width: 100%;
                    height: auto;
                    border: solid 1px $mainColor_1;
                    border-radius: 5px;
                    overflow: hidden;

                    li {
                        width: 100%;
                        height: auto;
                        display: flex;

                        &:nth-of-type(even) {
                            background: $mainBG_3;
                        }

                        &.smallTitle {
                            background: $mainBG_4;

                            div {
                                border: none;

                                p {
                                    color: $mainColor_3;
                                    font-size: 14px;
                                }
                            }
                        }

                        div {
                            height: auto;
                            display: flex;
                            border-right: solid 1px $mainColor_4;
                            align-items: center;
                            justify-content: center;
                            padding: 8px 0;

                            &:nth-of-type(1),
                            &:nth-of-type(4) {
                                width: 8%;
                            }
                            &:nth-of-type(2),
                            &:nth-of-type(5) {
                                width: 12%;

                                input {
                                    width: 55px;
                                    height: 22px;
                                    @include inputStyle_1;
                                    text-align: center;
                                    padding: 0;
                                }
                            }
                            &:nth-of-type(3),
                            &:nth-of-type(6) {
                                width: 30%;

                                .selectBox {
                                    width: auto;
                                    height: 22px;
                                    background: $mainBG_5;
                                    border-radius: 3px;
                                    display: flex;
                                    align-items: center;
                                    padding: 0 5px;
                                    margin-left: 5px;

                                    select {
                                        width: auto;
                                        height: auto;
                                        background: none;
                                        border: none;
                                        color: $mainColor_3;
                                        font-size: 14px;
                                    }

                                    i {
                                        @include topfix_reweb_arrow;
                                        border-width: 5px 4px 0 4px;
                                        margin-left: 5px;
                                    }
                                }

                                input {
                                    width: 42px;
                                    height: 22px;
                                    @include inputStyle_1;
                                    border: none;
                                    text-align: center;
                                    padding: 0;
                                    margin: 0 5px;
                                }
                            }

                            &:last-child {
                                border: none;
                            }

                            p {
                                color: $mainColor_1;
                                font-size: 16px;
                                font-weight: bold;
                            }
                        }
                    }
                }

                .calcBox {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px 0;

                    .inputBox {
                        width: auto;
                        height: auto;
                        display: flex;
                        align-items: center;
                        margin-right: 30px;

                        p {
                            color: $mainColor_1;
                            font-size: 16px;
                            font-weight: bold;
                            margin-right: 5px;
                        }

                        input {
                            width: 115px;
                            height: 32px;
                            @include inputStyle_1;
                        }
                    }

                    button {
                        width: 260px;
                        height: 40px;
                        @include mainBtn_2;
                    }
                }

                .remindBox {
                    width: 100%;
                    height: auto;
                    background: $mainBG_3;
                    border: solid 1px $mainColor_1;
                    padding: 0 10px;

                    .smallTitle {
                        width: 100%;
                        height: auto;
                        border-bottom: solid 1px $mainColor_1;
                        padding: 10px 0;

                        p {
                            color: $mainColor_2;
                            font-size: 14px;
                            text-align: center;
                        }
                    }

                    .textBox {
                        width: 100%;
                        height: auto;
                        padding: 10px 0;

                        p {
                            color: $mainColor_1;
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }

        .title {
            width: 100%;
            height: 50px;
            background: $mainBG_4;
            border-radius: 3px 3px 0 0;
            display: flex;
            align-items: center;
            padding: 0 20px;

            p {
                color: $mainColor_3;
                font-size: 16px;
                font-weight: bold;
            }
        }

        .close {
            width: 40px;
            height: 40px;
            @include closeBtn;
            top: -50px;
            right: -50px;
        }
    }
}