.mine {
    width: 100%;
    height: auto;
    position: relative;

    .topfix {
        width: 100%;
        height: 125px;
        background: $mainBG_1;
        box-shadow: 0 2px 5px 0 $mainShadow_1;
        border-radius: 3px;
        position: relative;
        margin-bottom: 5px;
        z-index: 20;

        .topbar {
            width: 100%;
            height: 80px;
            display: flex;
            align-items: center;
            padding: 0 20px;
            position: relative;

            p {
                font-weight: bold;
            }

            .midword {
                width: auto;
                height: auto;
                display: flex;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);

                p {
                    min-width: 45px;
                    text-align: center;
                    margin: 0 15px;

                    span {
                        display: block;
                        font-family: fantasy;
                        font-weight: normal;
                        margin-top: 10px;
                    }
                }
            }
        }

        .fixbar {
            width: 100%;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            background: $mainBG_3;

            div {
                width: auto;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    font-size: 15px;
                    margin-right: 15px;
    
                    span {
                        color: $mainColor_2;
                        font-weight: bold;
                        font-family: "微軟正黑體";
                        margin-left: 3px;
                    }
                }

                input {
                    width: 95px;
                    height: 24px;
                    border: none;
                    font-weight: bold;
                    text-align: center;
                    border-radius: 3px;
                    cursor: default;

                    &:nth-of-type(2) {
                        margin-right: 10px;
                    }
                }

                .date {
                    width: 19px;
                    height: 19px;
                    margin-right: 10px;
                    cursor: pointer;
                }

                .dash {
                    color: $mainColor_1;
                    font-size: 16px;
                    font-family: fantasy;
                    margin: 0 10px;
                }
            }

            button {
                height: 30px;
                @include mainBtn_1;
                padding: 1px 7px 0px;
                margin-right: 10px;

                &:last-child {
                    margin: 0;
                }
            }
        }

        ul {

            &.fixbar {
                justify-content: flex-start;
                padding: 0;

                li {
                    width: auto;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    color: $mainColor_1;
                    font-size: 15px;
                    padding: 0 40px;
                    border-bottom: 3px solid transparent;
                    cursor: pointer;
    
                    &:hover,&:active,&.active {
                        border-color: $mainColor_1;
                    }
                }
            }
        }

        p {
            color: $mainColor_1;
        }
    }

    .middle {
        width: 100%;
        height: auto;
        overflow-x: hidden;
        overflow-y: overlay;
        @include scrollBarStyle_1;

        //個人資料
        .mineHome {
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: repeat(2,50%);
            gap: 5px;

            table {
                width: 100%;
                height: auto;

                tr {
                    background: $mainBG_3;

                    &:nth-of-type(odd) {
                        background: $mainBG_2;
                    }

                    &:nth-of-type(1) {

                        th {
                            background: $mainBG_3;

                            p {
                                color: $mainColor_2;
                            }
                        }
                    }

                    &:nth-of-type(2) {
                        
                        th {
                            background: $mainBG_4;
                            top: 28px;
                        }
                    }

                    th {
                        height: 28px;
                        vertical-align: middle;
                        position: sticky;
                        top: 0;
                        padding: 0 10px 2px;
                        z-index: 10;

                        p {
                            color: $mainColor_3;
                            font-size: 13px;
                        }
                    }

                    td {
                        width: 33.3%;
                        padding: 10px 0px;

                        p {
                            color: $mainColor_2;
                            text-align: center;
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        //即時注單
        .instantBet { 
            width: 100%;
            height: auto;

            table {
                width: 100%;
                height: auto;
                background: $mainBG_3;
                border: 1px solid $mainColor_1;
                margin-bottom: 10px;
                cursor: pointer;

                &.active {

                    tr {
                        display: table-row;

                        &:last-child {
                            display: none;
                        }

                        th {
    
                            .arrow {
                                top: 40%;
                                transform: rotate(90deg);
                            }
                        }
                    }
                }

                tr {
                    display: none;
                    border-bottom: 1px solid $mainColor_1;

                    &:first-child,
                    &:last-child {
                        display: table-row;
                    }

                    &:nth-of-type(2) {

                        td {
                            
                            &:last-child {

                                p {
                                    line-height: 20px;
                                }
                            }
                        }
                    }

                    &:nth-of-type(5),
                    &:last-child {

                        td {

                            &:nth-of-type(1),
                            &:nth-of-type(3),
                            &:nth-of-type(5) {
                                width: 10%;
                            }
                            &:nth-of-type(2) {
                                width: 40%;
                            }
                            &:nth-of-type(4),
                            &:nth-of-type(6) {
                                width: 15%;
                            }
                        }
                    }

                    th {
                        width: 100%;
                        text-align: left;
                        position: relative;

                        p {
                            display: inline-block;
                            color: $mainColor_2;
                            font-size: 13px;
                            padding: 8px 12px;
                            position: relative;
                          
                            &::after {
                                content: "";
                                width: 1px;
                                height: 45%;
                                background: $mainColor_1;
                                position: absolute;
                                top: 50%;
                                right: 0;
                                transform: translateY(-50%);
                            }

                            &:nth-last-of-type(1) {
                                
                                &::after {
                                    display: none;
                                }
                            }
                        }

                        .arrow {
                            width: 6px;
                            height: 8px;
                            position: absolute;
                            top: 50%;
                            right: 20px;
                            transform: translateY(-50%);
                        }
                    }

                    td {
                        max-width: 0;
                        height: 100%;
                        border-right: 1px solid $mainColor_2;
                        padding: 7px 10px 8px;
                        vertical-align: middle;

                        p {
                            color: $mainColor_2;
                            font-size: 13px;
                            text-align: left;

                            span {

                                &.point {
                                    color: $mainColor_1;
                                    font-weight: bold;
                                }

                                &.vs {
                                    color: $otherColor_3;
                                    font-weight: bold;
                                    margin: 0 10px;
                                }
                            }
                        }
                       
                        &:nth-of-type(odd) {

                            p {
                                color: $subColor_2;
                                font-size: 14px;
                                text-align: center;
                            }
                        }

                        &:last-child {
                            border: none;
                        }
                    }
                }
            }
        }

        //聯繫我們
        .contact {
            display: none;
            width: 100%;
            height: auto;

            &.display {
                display: block;
            }

            &>.title {
                width: 100%;
                height: 28px;
                background: $mainBG_1;
                display: flex;
                align-items: center;
                padding: 0 10px 2px;

                p {
                    color: $mainColor_1;
                    font-size: 13px;
                }
            }

            .content {
                width: 100%;
                height: auto;
                background: $mainBG_3;
                padding: 10px;

                .contactWay {
                    width: 100%;
                    height: auto;
                    border-bottom: solid 1px $mainColor_1;
                    padding-bottom: 5px;
                    margin-bottom: 20px;

                    textArea {
                        width: 100%;
                        height: 28px;
                        background: none;
                        border: none;
                        resize: none;
                        outline: none;
                        color: $mainColor_2;
                        font-size: 14px;
                        line-height: 28px;
                        display: flex;
                        align-items: center;
                    }
                }

                .textBox {
                    width: 100%;
                    height: auto;
                    border-bottom: solid 1px $mainColor_1;
                    padding-bottom: 10px;
                    margin-bottom: 20px;

                    textarea {
                        width: 100%;
                        height: 200px;
                        background: $BG;
                        border: solid 1px $mainColor_1;
                        border-radius: 3px;
                        color: $mainColor_2;
                        font-size: 14px;
                        padding: 10px;
                        box-sizing: border-box;
                        outline: none;
                        resize: none;
                    }
                }

                .btnBox {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    p {
                        color: $mainColor_1;
                        font-size: 14px;
                        font-weight: bold;
                        display: flex;
                        align-items: center;

                        i {
                            width: 13px;
                            height: 13px;
                            margin-right: 5px;
                        }
                    }

                    button {
                        width:220px;
                        height: 36px;
                        @include mainBtn_2;
                    }
                }

                .smallTitle {
                    width: 100%;
                    color: $mainColor_1;
                    font-size: 15px;
                    margin-bottom: 10px;

                    span {
                        color: $subColor_1;
                        font-size: 13px;
                        margin-left: 5px;
                    }
                }
            }

            .questionBox {
                width: 100%;
                height: auto;
                margin-bottom: 5px;

                .title {
                    width: 100%;
                    height: 45px;
                    background: $mainBG_1;
                    border-radius: 5px;
                    box-shadow: 0 2px 5px 0 $mainShadow_1;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    padding: 0 50px 0 15px;
                    z-index: 1;

                    &.reply {
                        background: $mainBG_4;
                        
                        p {
                            color: $mainColor_3;

                            &.time {
                                color: $mainColor_3;
                            }
                        }
                    }

                    p {
                        color: $mainColor_1;
                        font-size: 15px;

                        &.time {
                            color: $mainColor_2;
                            font-weight: bold;
                        }
                    }
                }

                .textBox {
                    width: 100%;
                    height: auto;
                    background: $mainBG_3;
                    border-radius: 5px;
                    border: solid 1px $mainColor_1;
                    padding-top: 25px;
                    margin-top: -5px;

                    p {
                        color: $mainColor_2;
                        font-size: 14px;
                        padding: 0 15px 15px;
                    }
                }
            }
        }

        //消息中心
        .message {
            width: 100%;
            height: auto;
            overflow-y: auto;
            @include scrollBarStyle_1;

            .questionBox {
                width: 100%;
                height: auto;
                margin-bottom: 10px;

                .title {
                    width: 100%;
                    height: 45px;
                    background: $mainBG_1;
                    border-radius: 5px;
                    box-shadow: 0 2px 5px 0 $mainShadow_1;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    cursor: pointer;
                    padding: 0 15px;
                    z-index: 1;

                    &:hover,&:active {
                        background: $mainBG_4;
                        
                        p {
                            color: $mainColor_3;

                            i {
                                background-position-y: 100%;
                            }
                        }
                    }
                    &.active {
                        background: $mainBG_4;

                        p {
                            color: $mainColor_3;

                            i {
                                background-position-y: 100%;
                                transform: rotate(-90deg);
                            }
                        }
                    }

                    p {
                        color: $mainColor_1;
                        font-size: 15px;
                        display: flex;
                        align-items: center;
                        @include textHidden;

                        i {
                            width: 6px;
                            height: 8px;
                            transform: rotate(90deg);
                            margin-left: 10px;
                        }

                        &.time {
                            flex-shrink: 0;
                            margin-left: 20px;
                        }
                    }
                }

                .textBox {
                    width: 100%;
                    height: 0;
                    background: $mainBG_3;
                    border-radius: 5px;
                    border: solid 1px $mainColor_1;
                    padding-top: 0;
                    margin-top: -5px;
                    overflow: hidden;

                    &.active {
                        height: auto;
                        padding-top: 25px;
                    }

                    p {
                        color: $mainColor_2;
                        font-size: 14px;
                        padding: 0 15px 15px;
                    }
                }
            }
        }

        //投注紀錄
        .betRecord {
            width: 100%;
            height: auto;

            .detaBox{
                width: 100%;
                height: auto;
                background: $mainBG_3;
                border: 1px solid transparent;
                cursor: pointer;
                margin-bottom: 3px;
                
                &:hover,&:active {
                    border-color: $mainColor_1;

                    .firstLine {
                        background: $mainBG_2;
                    }
                }

                &.active {

                    .firstLine {
                        background: $mainBG_4;
                       
                        p {
                            color: $mainColor_3;
                            border-color: $mainColor_3;
                        }

                        .remind {
                            background: $mainBG_2;
                            color: $mainColor_1;
                        }
                    }

                    .recordbox {
                        display: block;
                    }
                }

                .recordbox {
                    display: none;
                    width: 100%;
                    height: auto;
                    padding: 10px;

                    table {
                        width: 100%;
                        height: auto;
                        background: $mainBG_3;
                        border: 1px solid $betRecord_border;
                        margin-bottom: 10px;
                        cursor: pointer;

                        &:last-child {
                            margin: 0;
                        }
        
                        &.active {
        
                            tr {
                                display: table-row;
        
                                &:last-child {
                                    display: none;
                                }
        
                                th {
            
                                    .arrow {
                                        top: 40%;
                                        transform: rotate(90deg);
                                    }
                                }
                            }
                        }
        
                        tr {
                            display: none;
                            background: $mainBG_2;
                            border-bottom: 1px solid $betRecord_border;
        
                            &:first-child,
                            &:last-child {
                                display: table-row;
                            }

                            &:nth-last-of-type(2),
                            &:last-child {
                                border: none;
                            }
        
                            &:nth-of-type(2) {
        
                                td {
                                    
                                    &:last-child {
        
                                        p {
                                            line-height: 20px;
                                        }
                                    }
                                }
                            }
        
                            &:nth-of-type(5),
                            &:last-child {
        
                                td {
        
                                    &:nth-of-type(1),
                                    &:nth-of-type(3),
                                    &:nth-of-type(5) {
                                        width: 10%;
                                    }
                                    &:nth-of-type(2) {
                                        width: 40%;
                                    }
                                    &:nth-of-type(4),
                                    &:nth-of-type(6) {
                                        width: 15%;
                                    }
                                }
                            }
        
                            th {
                                width: 100%;
                                background: $mainBG_3;
                                text-align: left;
                                position: relative;
        
                                p {
                                    display: inline-block;
                                    color: $mainColor_2;
                                    font-size: 13px;
                                    padding: 8px 12px;
                                    position: relative;
                                
                                    &::after {
                                        content: "";
                                        width: 1px;
                                        height: 45%;
                                        background: $mainColor_2;
                                        position: absolute;
                                        top: 50%;
                                        right: 0;
                                        transform: translateY(-50%);
                                    }
        
                                    &:nth-last-of-type(1) {
                                        
                                        &::after {
                                            display: none;
                                        }
                                    }
                                }
        
                                .arrow {
                                    width: 6px;
                                    height: 8px;
                                    position: absolute;
                                    top: 50%;
                                    right: 20px;
                                    transform: translateY(-50%);
                                }
                            }
        
                            td {
                                max-width: 0;
                                height: 100%;
                                border-right: 1px solid $mainColor_2;
                                padding: 7px 10px 8px;
                                vertical-align: middle;
        
                                p {
                                    color: $mainColor_2;
                                    font-size: 13px;
                                    text-align: left;
        
                                    span {
        
                                        &.point {
                                            color: $mainColor_1;
                                            font-weight: bold;
                                        }
        
                                        &.vs {
                                            color: $otherColor_3;
                                            font-weight: bold;
                                            margin: 0 10px;
                                        }
                                    }
                                }
                            
                                &:nth-of-type(odd) {
        
                                    p {
                                        color: $subColor_2;
                                        font-size: 14px;
                                        text-align: center;
                                    }
                                }
        
                                &:last-child {
                                    border: none;
                                }
                            }
                        }
                    }

                    .underList {
                        width: 100%;
                        height: 36px;
                        background: $mainBG_4;
                        border-radius: 5px;

                        ul {
                            width: 100%;
                            height: 100%;
                            display: flex;

                            li {
                                height: 100%;
                                display: flex;
                                align-items: center;

                                &:nth-of-type(1),
                                &:nth-of-type(3),
                                &:nth-of-type(5) {
                                    width: 10%;
                                }
                                &:nth-of-type(2) {
                                    width: 40%;
                                }
                                &:nth-of-type(4),
                                &:nth-of-type(6) {
                                    width: 15%;
                                }

                                &:last-child {

                                    p {
                                        border: none;
                                    }
                                }

                                p {
                                    width: 100%;
                                    border-right: solid 1px $mainColor_3;
                                    color: $mainColor_3;
                                    font-size: 15px;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }

                .firstLine {
                    width: 100%;
                    height: auto;
                    background: $mainBG_1;
                    display: flex;
                    padding: 8px 0;

                    div {
                        width: calc(100% / 4);
                        margin: 0;
                        position: relative;

                        &:last-child {

                            p {
                                border: none;
                            }
                        }

                        p {
                            color: $mainColor_1;
                            font-size: 15px;
                            font-weight: bold;
                            text-align: center;
                            border-right: 1px solid $mainColor_2;

                            &.win {
                                color: $otherColor_2;
                            }

                            &.lose {
                                color: $otherColor_1;
                            }
                        }

                        .remind {
                            background: $otherColor_1;
                            color: $mainColor_2;
                            font-size: 14px;
                            font-weight: bold;
                            border-radius: 4px;
                            padding: 3px 5px;
                            position: absolute;
                            top: 50%;
                            left: 30px;
                            transform: translateY(-50%);
                        }
                    }
                }
            }

            .itemName {
                width: 100%;
                height: auto;
                background: $mainBG_1;
                display: flex;
                margin-bottom: 3px;

                div {
                    width: calc(100% / 4);
                    height: auto;
                    padding: 8px 0;

                    &:nth-last-of-type(1) {

                        p {
                            border: none;
                        }
                       
                    }

                    p {
                        color: $mainColor_2;
                        font-size: 16px;
                        border-right: 1px solid $mainColor_3;
                        text-align: center;
                    }
                }
            }
        }
    }
}